.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #1C9963 !important;
}
.error{
    text-align: center !important;
}

/* Custom additions */

figure {
    margin-top: 41px;
    margin-bottom: 40px;
}

figcaption h4 {
    text-align: center;
    font-weight: 400 !important;
    margin: 10px auto 0;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(0,0,0,.68);
}

blockquote.pullquote {
    border-left: none;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.48;
    color: rgba(0,0,0,.68);
    border: none;
    padding: 0;
    padding-left: 50px;
    text-align: left;
    letter-spacing: -.012em;
    margin-top: 55px;
    margin-bottom: 54px;
}

figure svg {
    border: 1px solid #ebebeb;
}

.article-post table {
    margin-bottom: 44px;
}
.article-post table td {
    padding-right: 30px;
}

/* remove spacing between columns */
.row.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
  }  