{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}
    <div class="main-content">
        <section class="recent-posts">            
            <div class="row listrecent">
                {{ $page := $.GetPage "/coldstarts" }}
                {{- partial "list-partials/featured.html" $page -}}
                {{ $page := $.GetPage "/blog" }}
                {{- partial "list-partials/postbox.html" $page -}}
            </div>
        </section>
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
