{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">

        <div class="mainheading">
            <!-- Post Title -->
            <h1 class="posttitle">{{ .Title }}</h1> 
        </div>

        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>Overview</span></h2>
            </div>            
            <div class="row listrecent">
                <div class="col-md-8 col-sm-12 mb-30px card-group">
                    {{ $page := $.GetPage "/coldstarts/big3" }}
                    {{- partial "list-partials/featured.html" $page -}}
                </div>
                <div class="col-md-3 offset-md-1 card-group float-right">
                    {{ $define := $.GetPage "/coldstarts/define" }}
                    {{ $methodology := $.GetPage "/coldstarts/methodology" }}
                    {{ $pages := slice $define $methodology }}
                    {{- partial "list-partials/summary.html" $pages -}}
                </div>
            </div>
        </section>
        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>Per Cloud Provider</span></h2>
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := slice "/coldstarts/aws" "/coldstarts/azure" "/coldstarts/gcp" }}
                {{ range $post_paginator }}
                    {{ $page := $.GetPage . }}
                    {{- partial "list-partials/postbox.html" $page -}}
                {{end}}

            </div>
        </section>
    </div>
{{ end }}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
