{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">

        <div class="mainheading">
            <!-- Post Title -->
            <h1 class="posttitle">{{ .Title }}</h1> 
        </div>

        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>Getting Started</span></h2>
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := slice "/coldstarts/big3" "/coldstarts/define" "/coldstarts/methodology" }}
                {{ range $post_paginator }}
                    {{ $page := $.GetPage . }}
                    {{- partial "list-partials/postbox.html" $page -}}
                {{end}}

            </div>
        </section>
        <section class="recent-posts">            
            <div class="section-title">                
                <h2><span>Major Cloud Providers</span></h2>
            </div>            
            <div class="row listrecent">
                {{ $post_paginator := slice "/coldstarts/aws" "/coldstarts/azure" "/coldstarts/gcp" }}
                {{ range $post_paginator }}
                    {{ $page := $.GetPage . }}
                    {{- partial "list-partials/postbox.html" $page -}}
                {{end}}

            </div>
        </section>
    </div>
    {{- partial "_shared/alertbar.html" . -}}
{{ end }}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
