{{ $id := .Get 0 }}
{{ $data := index .Site.Data (.Get 0) }}
{{ $caption := .Get 1 }}

<script type="text/javascript">
addChart((data, options) => {
  data.addColumn('number', 'Time');
  data.addColumn('number', 'Probability');
  data.addRows({{ $data.points }});

  options.lineWidth = 3;
  options.hAxis = {
    title: 'Time since previous invocation (minutes)'
  };
  options.vAxis = {
    title: 'probability'
  };

  return new google.visualization.AreaChart(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>