{{ $id := .Get 0 }}
{{ $data := index .Site.Data (.Get 0) }}
{{ $caption := .Get 1 }}

<script type="text/javascript">
addChart((data, options) => {
  data.addColumn('string', 'x');
  data.addColumn('number', 'values');
  data.addColumn({id:'i0', type:'number', role:'interval'});
  data.addColumn({id:'i1', type:'number', role:'interval'});
  data.addColumn({id:'i2', type:'number', role:'interval'});
  data.addColumn({id:'i2', type:'number', role:'interval'});
  data.addColumn({ 'type': 'string', 'role': 'style' });
  data.addRows({{ $data.points }});

  options.lineWidth = 0;
  options.intervals = { 'style':'boxes' };
  options.vAxis = {
    title: 'seconds'
  };

  return new google.visualization.LineChart(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>