<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable
      ([['Time (minutes)', '.NET', 'Javascript'],
        [1, 0, 0],
        [2, 0, 0],
        [3, 0, 0],
        [4, 0, 0],
        [5, 0, 0],
        [6, 0, 0],
        [7, 0, 0],
        [8, 0, 0],
        [9, 0, 0],
        [10, 0, 1],
        [11, 0, 0],
        [12, 0, 0],
        [13, 0, 0],
        [14, 0, 0],
        [15, 0, 0],
        [16, 0, 0],
        [17, 0, 0],
        [18, 0, 0],
        [19, 0, 0],
        [20, 1, 1],
        [21, 1, 1],
        [22, 1, 1],
        [23, 1, 1],
  ]);

  var options = {
    height: 500,  
    chartArea: { width: '80%', height: '60%' },
    legend: 'none',
    hAxis: {
      textStyle: { fontName: 'Merriweather' },
      titleTextStyle: { fontName: 'Merriweather' },
      title: 'Time since previous invocation (minutes)',
      ticks: [0, 10, 20]
    },
    vAxis: {
      textStyle: { fontName: 'Merriweather' },
      titleTextStyle: { fontName: 'Merriweather' },
      title: 'Probability of a Cold Start',
      ticks: [0, 1.0]
    }  
  };

  var chart = new google.visualization.LineChart(document.getElementById('chart_div_coldstartinterval_bylanguage'));
  chart.draw(data, options);
}
</script>
<div id="chart_div_coldstartinterval_bylanguage"></div>