{{ $id := .Get 0 }}
{{ $data := index .Site.Data (.Get 0) }}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load("current", {packages:["corechart"]});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'x');
  data.addColumn('number', 'values');
  data.addColumn({id:'i0', type:'number', role:'interval'});
  data.addColumn({id:'i1', type:'number', role:'interval'});
  data.addColumn({id:'i2', type:'number', role:'interval'});
  data.addColumn({id:'i2', type:'number', role:'interval'});
  data.addColumn({ 'type': 'string', 'role': 'style' });

  data.addRows({{ $data.points }});

  // The intervals data as narrow lines (useful for showing raw source data)
  var options_lines = {
    lineWidth: 0,
    height: 500,  
    chartArea: { width: '80%', height: '60%' },
    legend: 'none',
    intervals: { 'style':'boxes' }
  };

  var chart_lines = new google.visualization.LineChart(document.getElementById('chart_div_{{ $id }}'));
  chart_lines.draw(data, options_lines);
}
</script>
<div id="chart_div_{{ $id }}"></div>