{{ $id := .Get 0 }}
{{ $data := index .Site.Data (.Get 0) }}
{{ $caption := .Get 1 }}
{{ $maxValue := .Get 2 | default "" }}

<script type="text/javascript">
addChart((data, options) => {
  data.addColumn('number', 'Duration (sec)');
  data.addRows({{ $data.points }});

  options.hAxis.maxValue = {{ $maxValue }};
  options.hAxis.title = 'seconds';
  options.vAxis.ticks = [];
  options.vAxis.title = 'probability';
  options.colors = ['{{ $data.color }}'];
  options.histogram = {
    hideBucketItems: true,
    lastBucketPercentile: 5
  };

  return new google.visualization.Histogram(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>