{{ $id := .Get 0 }}
{{ $data := index .Site.Data (.Get 0) }}
{{ $caption := .Get 1 }}

<script type="text/javascript">
addChart((data, options) => {
  data.addColumn('number', 'Time');
  data.addColumn('number', 'Probability');
  data.addRows({{ $data.points }});

  options.lineWidth = 3;
  options.hAxis = {
    title: 'Time since previous invocation (minutes)',
    ticks: [0, 10, 20]
  };
  options.vAxis = {
    title: 'Probability of a Cold Start',
    ticks: [0, 1.0]
  };

  return new google.visualization.LineChart(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>