{{ $id := .Get 0 }}
{{ $data := index .Site.Data (.Get 0) }}
{{ $caption := .Get 1 }}

<script type="text/javascript">
addChart(data => {
  data.addColumn('number', 'ID');
  data.addColumn('number', 'Value');
  data.addColumn({ 'type': 'string', 'role': 'style' });
  data.addRows({{ $data.points }});

  return new google.visualization.ScatterChart(document.getElementById('chart_div_{{ $id }}'));
});
</script>
<figure>
  <div id="chart_div_{{ $id }}"></div>
  <figcaption class="imageCaption"><h4>{{ $caption }}</h4></figcaption>
</figure>