<div class="card h-100 border-0">
    <a href="{{ .URL }}">
        {{with .Params.thumbnail}}
            <img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
        {{end}}                
    </a>
    <div class="card-body pl-0 pr-0">
        <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h2>
        <h4 class="card-text">{{ default .Summary .Params.teaser }}</h4>            
        <span class="post-read-more"><a href="{{ .URL }}" title="Read Story">Learn more...</a></span>
    </div>
</div>