<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100 border-0">
        <div class="maxthumb">
            <a href="{{ .URL }}">
                {{with .Params.thumbnail}}
                    <img class="img-fluid" src="{{ . | urlize | relURL }}" alt="A thumbnail image">
                {{end}}                
            </a>
        </div>
        <div class="card-body pl-0 pr-0">
            <h2 class="card-title"><a class="text-dark" href="{{ .URL }}">{{ .Title }}</a></h2>
            <h4 class="card-text">
                {{ default .Summary .Params.teaser }}
            </h4>            
            <span class="post-read-more"><a href="{{ .URL }}" title="Read Story">Read more...</a></span>
        </div>
        {{if isset .Params "blog"}}
        <div class="card-footer bg-white p-0">
            <div class="wrapfooter">
                <span class="meta-footer-thumb">
                    <img class="author-thumb" src="{{ .Site.Params.author.thumbnail | urlize | relURL  }}" alt="{{ .Site.Params.author.name }}">
                </span>
                <span class="author-meta">
                    <span class="post-name">{{ .Site.Params.author.name }}
                </span><br/>
                <span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }} - {{ .ReadingTime }} min read </span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
        {{end}}
    </div>
</div>
<!-- end post -->
